<ng-container *ngIf="bobblehead">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon *ngIf="collected" class="mr-2" fontIcon="done"></mat-icon>
        {{ bobblehead.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mb-4">
      <div class="mb-4">
        <fo-text-link [href]="bobblehead.url" text="See Details"></fo-text-link>
      </div>
      <div class="mb-2">
        <span class="mr-2">Effect:</span>{{ bobblehead.effect }}
      </div>
      <div class="flex flex-row items-center">
        <span class="mr-2">Location:</span>
        <fo-text-link
          class="inline-block grow"
          [href]="bobblehead.location.url"
          [text]="bobblehead.location.name"
        ></fo-text-link>
      </div>
    </div>

    <ng-container *ngIf="!collected">
      <button
        mat-stroked-button
        color="accent"
        (click)="toggleCollected.emit()"
      >
        Collect
      </button>
    </ng-container>
    <ng-container *ngIf="collected">
      <button mat-flat-button color="accent" (click)="toggleCollected.emit()">
        Collected
      </button>
    </ng-container>
  </mat-expansion-panel>
</ng-container>
