<ng-container *ngIf="vm$ | async as vm">
  <fo-bobblehead-collection-stats
    [total]="vm.bobbleheads.length"
    [collected]="vm.bobbleheadCollection.size"
  ></fo-bobblehead-collection-stats>
  <ul class="px-4">
    <li class="mb-2" *ngFor="let bobblehead of vm.bobbleheads">
      <fo-bobblehead-list-item
        [bobblehead]="bobblehead"
        [collected]="vm.bobbleheadCollection.has(bobblehead.id)"
        (toggleCollected)="toggleBobblehead(bobblehead.id)"
      ></fo-bobblehead-list-item>
    </li>
  </ul>
</ng-container>
