<ng-container *ngIf="attempt">
  <form (ngSubmit)="handleSubmittedAttempt()">
    <div class="guess py-8 max-w-md mx-auto text-center">
      <h1 class="text-center font-mono">{{ attempt.word }}</h1>
      <div class="text-center p-4">
        <mat-form-field color="accent">
          <mat-label>Likeness</mat-label>
          <input
            matInput
            inputmode="numeric"
            min="0"
            maxlength="2"
            [max]="attempt.word.length"
            [value]="attempt.likeness"
            class="text-center"
            (change)="handleChangedLikeness($event)"
          />
        </mat-form-field>
        <div class="text-center">
          <button type="submit" mat-flat-button color="accent">
            <mat-icon fontIcon="add"></mat-icon>
            Add Guess
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
